<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.HouseMapMapper">
	
	<select id="getSido" resultType="SidoGugunCodeDto">
		SELECT left(sido_code,2) as sidoCode, sido_name as sidoName
		FROM sidocode
		ORDER BY sido_code
	</select>
	
	<select id="getGugunInSido" parameterType="String" resultType="SidoGugunCodeDto">
		SELECT left(gugun_code,5) as gugunCode, gugun_name as gugunName
		FROM guguncode
		where left(gugun_code,2) = #{sido}
		ORDER BY gugun_code
	</select>
	
	<select id="getDongInGugun" parameterType="String" resultType="HouseInfoDto">
		SELECT distinct dong, code 
		FROM houseinfo
		where code = #{gugun}
		ORDER BY dong
	</select>
	
	<select id="getAptInDong" parameterType="String" resultType="HouseInfoDto">
		SELECT DISTINCT i.no as no, i.dong as dong, i.AptName as aptName, i.code as code, i.jibun as jibun,
			i.lat as lat, i.lng as lng, d.dealAmount as dealAmount, d.buildYear as buildYear,
			d.dealYear as dealYear, d.area as area
		FROM houseinfo i join housedeal d
		ON i.dong = d.dong and i.AptName = d.AptName 
		WHERE dong = #{dong}
		GROUP BY AptName
	</select>

	<select id="getAptInName" parameterType="String" resultType="com.ssafy.happyhouse.model.dto.HouseInfoDto">
		SELECT DISTINCT i.no as no, i.dong as dong, i.AptName as aptName, i.code as code, i.jibun as jibun,
			i.lat as lat, i.lng as lng, d.dealAmount as dealAmount, d.buildYear as buildYear,
			d.dealYear as dealYear, d.area as area
		FROM houseinfo i join housedeal d
		ON i.dong = d.dong and i.AptName = d.AptName 
		WHERE AptName like CONCAT('%',#{keyword},'%')
		GROUP BY AptName
	</select>

</mapper>