<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.dao.NoticeDao">
	
	<select id="selectAll" resultType="com.ssafy.happyhouse.model.dto.NoticeDto">
		select *
		from notice
	</select>
	
	<select id="selectNotice" parameterType="int" resultType="com.ssafy.happyhouse.model.dto.NoticeDto">
		select *
		from notice
		where num = #{num}
	</select>
	
	<update id="updateNoticeCnt" parameterType="int">
		update notice
		set readcnt = readcnt + 1
		where num = #{num}
	</update>
	
	<insert id="insertNotice" parameterType="com.ssafy.happyhouse.model.dto.NoticeDto">
		insert into notice (title, content, writer)
		values (#{title}, #{content}, #{writer})
	</insert>
	
	<update id="updateNotice" parameterType="com.ssafy.happyhouse.model.dto.NoticeDto">
		update notice
		set title = #{title}, content = #{content}, writer = #{writer}, date = now()
		where num = #{num}
	</update>
	
	<delete id="deleteNotice" parameterType="int">
		delete from notice
		where num = #{num}
	</delete>
	
	<select id="searchTitle" parameterType="String" resultType="com.ssafy.happyhouse.model.dto.NoticeDto">
		select *
		from notice
		where title like concat('%', #{title}, '%')
	</select>
</mapper>